<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="LOG_HOME" value="." />
    <property name="PROJECT_NAME" value="cn-shufe-xk" />
    <property name="DEFAULT_CHARSET" value="UTF-8" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="${DEFAULT_CHARSET}">
            <pattern>
                ###|||%d{yyyy-MM-dd HH:mm:ss.SSS}|||%level|||%thread|||%logger{0}--->%msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 每天一个文件  -->
    <appender name="DAILY_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/logs/${PROJECT_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>31</maxHistory>
            <totalSizeCap>512MB</totalSizeCap>
        </rollingPolicy>
        <encoder charset="${DEFAULT_CHARSET}">
            <pattern>###|||%d{yyyy-MM-dd HH:mm:ss.SSS}|||%level|||%thread|||%logger{0}--->%msg%n</pattern>
        </encoder>
        <append>true</append>
        <!-- 支持多JVM同时操作同一个日志文件 -->
    </appender>

    <root level="INFO">
        <appender-ref ref="DAILY_FILE" />
        <appender-ref ref="Console" />
    </root>

</configuration>